{
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "enable": true,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "useEditorConfig": true,
    "vueIndentScriptAndStyle": true,
    "printWidth": 200,
    "plugins": ["prettier-plugin-tailwindcss"]
}